<%= form_for(@restroom) do |f| %>
  <% if @restroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restroom.errors.count, "error") %> prohibited this restroom from being saved:</h2>

      <ul>
      <% @restroom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <table>
      <tr>
        <td align="center"><%= f.label(:malefemale_male, "Male") %></td>
        <td align="center"><%= f.label(:malefemale_female, "Female") %></td>
      </tr>
      <tr>
        <td align="center"><%= f.radio_button(:malefemale, "male") %></td>
        <td align="center"><%= f.radio_button(:malefemale, "female") %></td>
      </td>
    </table>
  </div>
  <div class="field">
    <%= f.label(:cleanliness, "Cleanliness rating, 1 (dirtiest) to 10 (cleanest):") %><br />
    <%= f.select(:cleanliness, 1..10) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
