<%= form_for(@restroom) do |f| %>
  <% if @restroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restroom.errors.count, "error") %> prohibited this restroom from being saved:</h2>

      <ul>
      <% @restroom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location, "Address" %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label(:foundwithin, "Found within...") %><br />
    <%= f.text_field :foundwithin, placeholder: "\"Safeway\" or \"Sears Tower, 4th floor\"" %>
  </div>
  <div class="field">
        <%= f.radio_button(:malefemale, "male") %>
        <%= f.label(:malefemale, "Male", :value => "male") %>
        <%= f.radio_button(:malefemale, "female") %>
        <%= f.label(:malefemale, "Female", :value => "female") %>
  </div>

    <%= f.fields_for :cleanliness_ratings do |builder| %>
    <div class="field">
      <%= builder.label(:cleanlinessrating, "Cleanliness rating, 1 (dirtiest) to 10 (cleanest):") %><br />
      <%= builder.select(:cleanlinessrating, 1..10, :selected => 5) %>
    <% end %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
