<%= button_tag "More search options", :id => "filterbutton" %>
<div id="searchfilters" class="hidden">
  <center><table border="0" width="90%">
      <tr>
        <th>Look for restrooms with:</th>
      </tr>
      <td class="anim-item" bgcolor="e3e3e3">
  <%= form_tag(restrooms_path, :method => "get", class: "navbar-form", id: "search-form") do %>
  <div class="input-append">
    <%= search_form_for @q do |f| %>
      <center><%= label_tag :address, "Address:" %>
      <%= text_field_tag :address, params[:address], class: "span2", placeholder: "123 Oak St, Anytown, WA", size: 30 %>
      <%= f.label(:malefemale_male, "Male:", :value => "male") %>
      <%= f.radio_button(:malefemale_eq, "male") %>
      <%= f.label(:malefemale_female, "Female:", :value => "female") %>
      <%= f.radio_button(:malefemale_eq, "female") %><br />
      <%= f.label(:cleanaverage, "Cleanliness rating is at least:") %>
      <%= f.select(:cleanaverage_gteq, 0..10, :selected => 0) %><br />
      <%= f.label(:handsfreefaucets, "Hands free faucets:") %>
      <%= f.check_box :handsfreefaucets_true %> &nbsp;&nbsp;
      <%= f.label(:handsfreetoilets, "Hands free flush toilets:") %>
      <%= f.check_box :handsfreetoilets_true %> &nbsp;&nbsp;
      <%= f.label(:handsfreeurinals, "Hands free flush urinals:") %>
      <%= f.check_box :handsfreeurinals_true %> &nbsp;&nbsp;
      <%= f.label(:urinalprivacy, "Urinal privacy screens:") %>
      <%= f.check_box :urinalprivacy_true %> &nbsp;&nbsp;
      <%= f.label(:wheelchair, "Wheelchair access:") %>
      <%= f.check_box :wheelchair_true %> &nbsp;&nbsp;
      <%= f.label(:attendant, "Attendant:") %>
      <%= f.check_box :attendant_true %> &nbsp;&nbsp;
      <%= f.label(:diaper, "Diaper changing station:") %>
      <%= f.check_box :diaper_true %> &nbsp;&nbsp;
      <%= f.label(:fhdispenser, "Feminine hygiene dispenser:") %>
      <%= f.check_box :fhdispenser_true %> &nbsp;&nbsp;
      <%= f.label(:outlets, "Electrical outlets:") %>
      <%= f.check_box :outlets_true %> &nbsp;&nbsp;
      <%= f.label(:makeupmirror, "Makeup mirror:") %>
      <%= f.check_box :makeupmirror_true %> &nbsp;&nbsp;
      <%= f.label(:heatedseats, "Heated toilet seats:") %>
      <%= f.check_box :heatedseats_true %> &nbsp;&nbsp;
      <br/><%= f.submit %></center>
    <% end %>
    </td>
  </div>
<% end %>
</table></center>
</div>

<div class="row" id="restroom_results">
  <div class="col-md-6">
    <% if @search_coordinates %>
      <table class="table" id="restroom_table" data-lat-near=<%= @search_coordinates[0] %> data-long-near=<%= @search_coordinates[1] %> data-is-search=<%= @is_search %>>
    <% else %>
      <table class = "table" id="restroom_table" data-long-near=<%= 0 %> data-lat-near=<%= 0 %>>
    <% end %>

      <tr id="show_maps">
        <th style="font-size:1.2em; vertical-align: middle;">Location</th>
        <% if @is_search %>
          <th style="font-size:1.2em; vertical-align: middle;">Distance</th>
        <% end %>
        <th><center><%= image_tag "malefemale.png", size: "50x46" %></center></th>
        <th style="font-size:1.2em; text-align:center">
          Cleanliness <br />
          Rating
        </th>
      </tr>

      <%= render @restrooms %>
      <%= paginate @restrooms %>
    </table>
    <%= paginate @restrooms %>
  </div>

  <div class="col-md-6">
    <div id="map-canvas" style="width:100%"></div>
  </div>
</div>

