<%= button_tag "More search options", :id => "filterbutton" %>
<div id="searchfilters" class="hidden">
  <%= form_tag(restrooms_path, :method => "get", class: "navbar-form", id: "search-form") do %>
  <div class="input-append">
    <%= search_form_for @q do |f| %>
      <%= text_field_tag :address, params[:address], class: "span2", placeholder: "123 Oak St, Anytown, WA" %>
    <br />
      <%= f.check_box :handsfreefaucets_true %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
</div>

<div class="row" id="restroom_results">
  <div class="col-md-6">

    <% if @search_coordinates %>
      <table class="table" id="restroom_table" data-lat-near=<%= @search_coordinates[0] %> data-long-near=<%= @search_coordinates[1] %> data-is-search=<%= @is_search %>>
    <% else %>
      <table class = "table" id="restroom_table" data-long-near=<%= 0 %> data-lat-near=<%= 0 %>>
    <% end %>

      <tr id="show_maps">
        <th style="font-size:1.2em">Location</th>
        <% if @is_search %>
          <th style="font-size:1.2em">Distance</th>
        <% end %>
        <th><center><%= image_tag "malefemale.png", size: "50x46" %></center></th>
        <th style="font-size:1.2em; text-align:center">
          Cleanliness <br />
          Rating
        </th>
      </tr>

      <%= render @restrooms %>

    </table>
  </div>

  <div class="col-md-6">
    <div id="map-canvas" style="width:100%"></div>
  </div>
</div>

