
<%= form_tag restrooms_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>

<table>
  <tr>
    <th>Location</th>
    <th>Malefemale</th>
    <th>Cleanliness</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restrooms.each do |restroom| %>
  <tr>
    <td><%= restroom.location %></td>
    <td><%= restroom.malefemale %></td>
    <td><%= restroom.cleanliness %></td>
    <td><%= link_to 'Show', restroom %></td>
    <td><%= link_to 'Edit', edit_restroom_path(restroom) %></td>
    <td><%= link_to 'Destroy', restroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x300&sensor=false&zoom=15&markers=#{restroom.latitude}%2C#{restroom.longitude}" %></td>
  </tr>
<% end %>
</table>
<p>
<div id="map-canvas"></div>

</p>
<br />

<%= link_to 'New Restroom', new_restroom_path %>
