<div class="row">
  <div class="col-md-6">

    <h1>Listing all restrooms</h1>

    <% if @search_coordinates %>
      <table class="table" id="restroom_table" data-lat-near=<%= @search_coordinates[0] %> data-long-near=<%= @search_coordinates[1]%>>
    <% else %>
      <table class = "table" id="restroom_table" data-long-near=<%= -122.3320708 %> data-lat-near=<%= 47.6062095 %>>
    <% end %>
        <tr>
          <th>Location</th>
          <th><center><%= image_tag "malefemale.png", size: "50x46" %></center></th>
          <th>Cleanliness Rating</th>
        </tr>

    <%= render @restrooms %>

      </table>
    <%  if URI(request.referer || "").path == '/newprelim_restroom' %>
      Restroom not found?
      <%= link_to 'Add a new restroom!', new_restroom_path %>
    <% end %>

  </div>
  <div class="col-md-6">
    <div id="map-canvas" style="width:100%"></div>
  </div>
</div>

<br />
