<h1>Listing restrooms</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Male/Female</th>
    <th>Average Cleanliness Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restrooms.each do |restroom| %>
  <tr>
    <td><%= restroom.location %></td>
    <td><%= restroom.malefemale %></td>
    <td>
    <%= restroom.cleanliness_ratings.average('cleanlinessrating').round(2) %>
    (<%= restroom.cleanliness_ratings.count %> reviews total)</td>
    <td><%= link_to 'Show', restroom %></td>
    <td><%= link_to 'Edit', edit_restroom_path(restroom) %></td>
    <td><%= link_to 'Destroy', restroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Restroom', new_restroom_path %>
