<h1>Listing all restrooms</h1>

<% if @search_coordinates %>
  <%= @search_coordinates %>
<% end %>

<% if @search_coordinates %>
  <table id="restroom_table" data-lat-near=<%= @search_coordinates[0] %> data-long-near=<%= @search_coordinates[1]%>>
<% else %>
  <table id="restroom_table" data-long-near=<%= -122.3320708 %> data-lat-near=<%= 47.6062095 %>>
<% end %>

  <tr>
    <th>Location</th>
    <th>Male/Female</th>
    <th>Average Cleanliness Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @restrooms %>

</table>
<p>
<%= link_to "See Map", restrooms_path, id: "js_index", remote: true %>
<div id="map-canvas" style="width: 400px; height: 400px; border:1px solid red"></div>

</p>
<br />

<%= link_to 'New Restroom', new_restroom_path %>
