<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @restroom.location %>
</p>

<p>
  <b>Male/Female:</b>
  <%= @restroom.malefemale %>
</p>

<p>
  <b>Average Cleanliness Rating:</b>

  <%= @restroom.cleanliness_ratings.average(:cleanlinessrating).round(2) %>
  (<%= @restroom.cleanliness_ratings.count %> reviews total)

</p>

<%= link_to 'Add Cleanliness rating', new_restroom_cleanliness_rating_path(@restroom) %>
<%= link_to 'Edit', edit_restroom_path(@restroom) %> |
<%= link_to 'Back', restrooms_path %>
