<head>
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>

</head>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="<%= restroom_url(@restroom) %>" data-text="Is it a @top_potty? Check out the restroom at <%= @restroom.addressone %>." data-related="top_potty" data-size="large" data-count="none" >Tweet</a>

<table class="table-bordered">
  <tr>
    <td><div><%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x300&sensor=false&zoom=15&markers=#{@restroom.latitude}%2C#{@restroom.longitude}" %></div></td>
    <td>
      <p>
        <center><b>Notes:</b></br>

        <% @restroom.notes.each do |note| %>
        <% if note.comment != "" %>
          "<%= note.comment %>"</br>
          <center>-----</center>
          </br>
         <% end %>
        <% end %></center>
      </p>
    </td>
  </tr>
</table>
<br />
<table class="view-table">
  <tr>
    <td><b>Address:</b></td>
    <td><%= @restroom.location %></td>
  </tr>
   <tr>
    <td><b>Male/Female:</b></td>
    <td><%= @restroom.malefemale %></td>
  </tr>
  <tr>
    <td><b>Found within:</b></td>
    <td><%= @restroom.foundwithin %></td>
  </tr>
  <tr>
    <td><b>Directions to restroom:</b></td>
    <td><%= @restroom.directions %></td>
  </tr>
  <tr>
    <td><b>Avg Cleanliness Rating:</b></td>
    <td>
      <% if @restroom.cleanliness_ratings.average('cleanlinessrating').round(1).to_s >= '8.8' %>
        <%= image_tag "tpbadge.png", alt: "The TP! Badge is given to restrooms that have an average cleanliness rating of at least 8.8.", size: "45x50" %><br/>
      <% end %>
      <%= @restroom.cleanliness_ratings.average(:cleanlinessrating).round(2) %>
      (<%= @restroom.cleanliness_ratings.count %> reviews total)
    </td>
  </tr>
  <tr>
    <td><b># of stalls:</b></td>
    <td><%= @restroom.numberofstalls%></td>
  </tr>
  <% if @restroom.malefemale == "male" %>
  <tr>
    <td><b># of urinals:</b></td>
    <td><%= @restroom.numberofurinals %></td>
  </tr>
  <% end %>
  <tr>
    <td><b>Hands-free faucets?</b></td>
    <td><%= imageboolean @restroom.handsfreefaucets? %></td>
  </tr>
  <tr>
    <td><b>Hands-free toilets?</b></td>
    <td><%= imageboolean @restroom.handsfreetoilets? %></td>
  </tr>
  <% if @restroom.malefemale == "male" %>
  <tr>
    <td><b>Hands-free urinals?</b></td>
    <td><%= imageboolean @restroom.handsfreeurinals? %></td>
  </tr>
  <tr>
    <td><b>Urinal privacy screens?</b></td>
    <td><%= imageboolean @restroom.urinalprivacy? %></td>
  </tr>
  <% end %>
  <tr>
    <td><b>Wheelchair accessible?</b></td>
    <td><%= imageboolean @restroom.wheelchair? %></td>
  </tr>
  <tr>
    <td><b>Attendant?</b></td>
    <td><%= imageboolean @restroom.attendant? %></td>
  </tr>
  <tr>
    <td><b>Diaper changing station?</b></td>
    <td><%= imageboolean @restroom.diaper? %></td>
  </tr>
  <% if @restroom.malefemale == "female" %>
  <tr>
    <td><b>Feminine hygiene dispenser?</b></td>
    <td><%= imageboolean @restroom.fhdispenser? %></td>
  </tr>
  <% end %>
  <tr>
    <td><b>Electrical outlets?</b></td>
    <td><%= imageboolean @restroom.outlets? %></td>
  </tr>
  <tr>
    <td><b>Make-up mirror?</b></td>
    <td><%= imageboolean @restroom.makeupmirror? %></td>
  </tr>
  <tr>
    <td><b>Heated toilet seats?</b></td>
    <td><%= imageboolean @restroom.heatedseats? %></td>
  </tr>
</table>

<br />
<%= link_to 'Add Cleanliness Rating / Note', new_restroom_cleanliness_rating_path(@restroom) %> </br>
<%= link_to 'Edit', edit_restroom_path(@restroom) %> |
<%= link_to 'Back', restrooms_path %>
