<h1>New Cleanliness Rating / Note for <%= @restroom.location %></h1>

<%= form_for([@restroom, @cleanlinessrating]) do |f| %>
  <div class="field">
      <%= f.label(:cleanlinessrating, "Cleanliness rating, 1 (dirtiest) to 10 (cleanest):") %><br />
      <%= f.select(:cleanlinessrating, 1..10, :selected => 5) %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form_for([@restroom, @note]) do |f| %>
    <div class="field">
    <%= f.label(:comment, "Notes:") %><br />
    <%= f.text_area :comment, placeholder: "Add your notes about this restroom here" %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>

<%= link_to 'Back', restrooms_path %>
