<!DOCTYPE html>
<html class="full" lang="en"><!-- The full page image background will only work if the html has the custom class set to it! Don't delete it! -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopPotty</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBiSAQ-M7T65r6PCdSUVFwlqAt4xq99o44&sensor=false" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>

  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">


      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag "toppottyv5b.png", size: "324x60", class: "img-low-margin" %>
      <% end %>
      <%= form_tag(restrooms_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :address, params[:address], placeholder: "123 Oak St, Anytown, WA", size: 30 %>
        <span style="margin-left: -28px;"><%= image_submit_tag("search.png", :name => nil, style:"height:28px; margin-bottom:-3px;", class: "btn btn-default btn-low-margin btn-sm") %></span>
        <%= link_to "+ADD NEW+", new_restroom_path, class: "navbar-brand2" %>
        <!-- /.navbar-collapse -->
      <% end %>
    </nav>
    <!-- Content goes here -->
     <div style="float:right; margin-right:12px;">
    <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "h6" %> |
        <%= link_to "Log In", new_user_session_path, class: "h6" %> |
        <%= link_to user_omniauth_authorize_path(:twitter) do %>
        <font size="2">Sign in through Twitter</font><%= image_tag "bird_blue_32.png", size: "16x16", style: 'margin-left: 5px' %>
          <% end %>
          <% end %>
        </div>
    <br />

    <div class="container">
      <% [:warning,:danger,:info,:success,:notice,:alert].each do |key| %>
        <%
          if key == :alert
            klass = 'danger'
          elsif key == :notice
            klass = 'success'
          else
            klass = key.to_s
          end
        %>
        <% if flash[key] && flash[key].length > 0 %>
          <div class="alert alert-<%= klass %> alert-dismissable">
            <%= flash[key] if flash[key] && flash[key].length > 0 %>
            <button type="button" style="top: 0; bottom: 0;" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <center><%= Restroom.count %> restrooms rated, with <%= CleanlinessRating.count %> reviews, and counting...
  </body>

</html>
