<!DOCTYPE html>
<html class="full" lang="en"><!-- The full page image background will only work if the html has the custom class set to it! Don't delete it! -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopPotty</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBiSAQ-M7T65r6PCdSUVFwlqAt4xq99o44&sensor=false" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <%= render 'restrooms/navbar' %>

      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag "toppottyv5b.png", size: "324x60", class: "img-low-margin" %>
      <% end %>

      <%= form_tag(restrooms_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :address, params[:address], placeholder: "123 Oak St, Anytown, WA", size: 30 %>
        <span style="margin-left: -28px;"><%= image_submit_tag("search.png", :name => nil, class: "btn btn-default btn-low-margin btn-sm") %></span>
        <%= link_to "+ADD NEW+", new_restroom_path, class: "navbar-brand2" %>
        <!-- /.navbar-collapse -->
      <% end %>
    </nav>

    <!-- Content goes here -->
    <br />
    <% [:notice,:error,:info,:success,:alert].each do |key| %>
    <div class="message">
      <%= flash[key] %>
    </div>
    <% end %>

    <div class="container">
    <%= yield %>
    </div>
    <center><%= Restroom.count %> restrooms rated, with <%= CleanlinessRating.count %> reviews, and counting...
  </body>

</html>
