<!DOCTYPE html>
<html>
<head>
  <title>TopPotty</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= form_tag(restrooms_path, :method => "get", class: "navbar-form", id: "search-form") %>
<div class="input-append">
<%= text_field_tag :search, params[:search], class: "span2", placeholder: "123 Oak St, Anytown, WA" %>
<button class="btn" type="submit">Search for restroom</button>
</div>


<%= yield %>

</body>
</html>
