<!DOCTYPE html>
<html>
<head>
  <title>TopPotty</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBiSAQ-M7T65r6PCdSUVFwlqAt4xq99o44&sensor=false" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

  <%= render 'layouts/navbar' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
